<footer class="site-footer">
    <div class="container site-footer-inner">
        <div>
            <p class="site-footer-brand">
                Hidden's Kitchen
            </p>

            <p>
                Made Like Home. Shared With Love.
            </p>
        </div>

        <div>
            <p>
                West LA / Venice
            </p>

            <p>
                Pickup Only
            </p>

            <p>
                @hiddenskitchen_westla
            </p>
        </div>
    </div>
</footer>